/* Colores predeterminados */
:root{ 
    --color-oscuro: #242424;
    --color-claro: #e7faf6;   
}

/* Navegación */
#nav {
    background-color: var(--color-oscuro);
    text-align: center;
    left: 0;
    top: 0;
    width: 100%;
    cursor: default;
    height: 50px;
}
#nav ul {
    margin-bottom: 0;
}
#nav li {
    display: inline-block;
}
#nav a {
    position: relative;
    display: block;
    outline: 0;
    color: var(--color-claro);
    text-decoration: none;
}
#nav a.active {
    display: block;
    position: absolute;
    bottom: -0.6rem;
    left: 50%;
    margin-left: -0.75rem;
    border-left: solid 0.75em transparent;
    border-right: solid 0.75em transparent;
    border-top: solid 0.6em var(--color-oscuro);
}

/* 
    Diseño creado por @ahmed150up
    Link: https://uiverse.io/profile/ahmed150up
*/
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card {
    width: 550px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    margin: 8px;
}
.card-header {
    background-color: #333;
    padding: 16px;
    text-align: center;
}
.card-header .text-header {
    margin: 0;
    font-size: 18px;
    color: rgb(255, 255, 255);
}  
.card-body {
    padding: 16px;
}  
.form-group {
    margin-bottom: 10px;
}
  
.form-group label {
    display: block;
    font-size: 15px;
    color: #333;
    font-weight: bold;
    margin-bottom: 1px;
}
.form-group input{
    width: 100%;
    padding: 4px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
} 
.btn {
    padding: 12px 24px;
    margin-left: 13px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer
} 
.btn:hover {
    background-color: #ccc;
    color: #333;
}